<nav class="nav">
    <div>
        <img class="brand-logo" src="./assets/logo.svg" alt="logo" aria-hidden="true"/>
        <div>
            <ul class="nav-options">
                <li class="nav-option">
                    <a routerLink="">Home</a>
                </li>
                <li class="nav-option">
                    <a routerLink="/projects">Projects</a>
                </li>
                <li class="nav-option">
                    <a routerLink="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
